
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 400px;
    width: 150px;
    float: left;
    padding: 5px;
}

#section {
    background-color: #cccccc;
    width: auto;
    float: left;
    padding: 10px;
    height: 500px;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
    padding: 5px;
}