
.container {
  text-align: center;
}


.marge {
	margin-bottom: 40px;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	width: 100%;
	background-color: white;
}
