

.jumbotron {
  margin: 40px;
}

.container {
  text-align: center;
}

.grouparea {
	margin-left: 200px;
	margin-right: 200px; 
}


.grouparea2 {
	margin-left: 100px;
	margin-right: 100px; 
}

.marge {
	margin-top: 30px;
}